.summaryContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}


.chartDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data {
  width: 90%;
  height: 400px;
}

label {
  text-align: left;
}

.chartTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  margin: 0 auto;
}


.numberOfCompositionType,
.numberByYearStep {
  align-self: center;
  overflow: hidden;
}

.placeholder-container {
  margin: 10px;
  border-radius: 10px;
  background: lightcoral;
  display: grid;
  place-items: center;
  font-weight: bold;
}

.placeholder-container>* {
  margin: 10px;
}


/* svgs */

.leftArrow {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z'/%3E%3C/svg%3E");
}

.rightArrow {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.41z'/%3E%3C/svg%3E");
}

.no-data {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='currentColor'%3E%3Cpath d='M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z'/%3E%3Cpath d='M7.002 11a1 1 0 1 1 2 0a1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z'/%3E%3C/g%3E%3C/svg%3E");
}

.leftArrow,
.rightArrow,
.no-data {
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 3em;
  height: 3em;
  transition: 300ms ease transform;
  overflow: hidden;
}

.leftArrow:hover,
.rightArrow:hover {
  transform: scale(1.5);
  cursor: pointer;
}