

.mobileNav {
    display: none;
    padding: 1em;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    gap: 2em;
    position: absolute;
    top: 0;
    left: -2000px;
    transition: 0.3s ease-in-out;
    background: #eee;
}

.mobileNav.open {
    left: 0;
}

.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 2em;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.1);
    z-index: -10;
}

.hamburgerMenu {
    display: none;
    flex-direction: column;
    gap: 0.3em;
    background: none;
    border: none;
}

.bar {
    background: black;
    height: 4px;
    width: 35px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

h1 {
    font-size: 3rem;
}

#closeNavBtn {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: none;
    border: none;
    position: absolute;
    right: 25px;
}

#closeBtnBar1 {
    transform: rotate(50deg) translateY(12px);
    width: 30px;
}

#closeBtnBar2 {
    transform: rotate(-50deg) translateY(-15px);
    width: 30px;
}

.inputFields {
    display: flex;
    align-items: center;
    gap: 4em;
    width: 50%;
}

#mobileInputFields {
    
    width: 50%;
}

input {
    padding: 0.2em;
    width: 100%;
}

label {
    font-weight: 800;
    font-size: 1.2rem;
    width: 100%;
}


.columnGroup {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.mobileFieldGroup {
    display: flex;
    flex-direction: column;
}

.headerBtns {
    display: flex;
    gap: 2em;
}

#mobileHeaderBtns {
    display: flex;
    flex-direction: column;
    
}

.searchBtn, .clearBtn {
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 2em;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.2);
}

.searchBtn {
    background: lightblue;
}

.clearBtn {
    background: lightcoral;
}

.rangeSlider {
    cursor: pointer;
}

.sliderGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 800;
}

/* media queries */
@media screen and (max-width: 1300px) {
    #mainInputFields, #mainHeaderBtns {
        display: none;
    }

    .hamburgerMenu  {
        display: flex;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainNav {
        justify-content: flex-start;
    }
}