header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inputFields {
    display: flex;
}

.columnGroup {
    display: flex;
    flex-direction: column;
    gap: 1em;
}