  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.detailContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-block: 0.75rem;
    gap: 10px 0;
  }

  .tableContainer {
    margin: 10px auto;
    max-width: 800px;
    padding: 1.5rem;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  td {
    padding: 5px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: lightblue;
  }
  
  /* Style the buttons for Previous and Next */
  .pgBtn {
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 2em;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.2);
    background: lightblue;
    transition: background-color 0.3s;
    color: black;
  }

  .btn-previous{
    background: lightcoral
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Center the page number span */
  span {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
  }
  