  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .detailContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-block: 0.75rem;
    gap: 10px 0;
  }

  .tableContainer {
    margin: 10px auto;
    max-width: 800px;
    padding: 1.5rem;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  td {
    padding: 5px;
  }

  thead {
    background-color: #f2f2f2;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: lightblue;
  }

  /* Media queries for the table */
  @media screen and (max-width: 760px) {
    .tableContainer {
      max-height: 520px;
      overflow-y: scroll;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
      content: "Name";
    }

    td:nth-of-type(2):before {
      content: "ID";
    }

    td:nth-of-type(3):before {
      content: "Composition";
    }

    td:nth-of-type(4):before {
      content: "Mass (g)";
    }

    td:nth-of-type(5):before {
      content: "Year";
    }

    td:nth-of-type(6):before {
      content: "Latitude";
    }

    td:nth-of-type(7):before {
      content: "Longitude";
    }

    td:nth-of-type(8):before {
      content: "State, Country";
    }

  }

  /* Style the buttons for Previous and Next */
  .pgBtn {
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 2em;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.2);
    background: lightblue;
    transition: background-color 0.3s;
    color: black;
  }

  .btn-previous {
    background: lightcoral
  }

  button:hover {
    background-color: #0056b3;
    color: white;
    transition: 0.3s ease-in;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  /* Center the page number span */
  span {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
  }

  /* Spinner */
  .sweet {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }