.footer {
    box-shadow: 9px 9px 9px 9px rgb(0, 0, 0, 0.1);
    padding: 25px 0 25px 0;
    display: flex;
    gap: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #9a9a9a;
}

a:hover {
    text-decoration: underline;
}